<?php
header("Access-Control-Allow-Origin: *");

$servername = "127.0.0.1";
$username = "user placeholder";
$password = "pass placeholder";
$db = "db placeholder";

$monitorEnabled = true;
$monitorURL = "monitor placeholder";
$monitorTimeout = 1;

?>
